form *{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
body{
    margin: 0;
    background: url(img/corazones.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    padding: 15px;
    background: pink;
    border-radius:1em;
    margin: auto;
    margin-top: 150px;
    width: 45%;
}
h1{
    text-align: center;
    color: brown;
    font-size: 1.5em;
}

@media (max-width:800px){
	.formulario{
        margin-top: 30vh;
        width: 100%;
    }
}
#caja{
    width: 100%;
    text-align: center;
    height: 35px;
    border:1px solid white;
    border-radius: 1em;
}
#btn{
    border-radius: 20px;
	border:1px solid white;
	background: #e2bf00;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
#btn:active{
    transform: scale(0.95);
}
#btn:focus{
	outline: none;
}
#btn.ghost{
	background: transparent;
	border-color: white;
}